.cm-header-1 { color: #e63946; }
.cm-header-2 { color: #f77f00; } 
.cm-header-3 { color: #ffba08; } 
.cm-header-4 { color: #43aa8b; }
.cm-header-5 { color: #4361ee; } 
.cm-header-6 { color: #7209b7; } 


.cm-em { color: hsl(141, 43%, 47%); }
.cm-strong { color: hsl(207, 80%, 44%); }
